.loader-active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-empty {
    width: 100%;
    height: 60px;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px;
    border-radius: 50%;
    border: 3px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
