@import '~@/assets/styles/variables';

.error-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    font-family: $secondary-font;
    pointer-events: none;
}
