@import '~bootstrap/scss/bootstrap';
@import '~@/assets/styles/mixins';

.modal-window {
    max-width: none;
    width: 90%;
    @include tablet {
        margin: 1rem auto;
    }
    @include mobile-tiny {
        margin: 0.5rem auto;
        width: 95%;
    }
    .loading {
        @include loading-item;
        margin-bottom: 20px;
        width: 100%;
        height: 0;
        // aspect ratio 16:9
        padding-top: 56.25%;
        pointer-events: none;
        position: relative;
        &.loading::before {
            border-radius: 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__header {
        width: 100%;
        & > div {
            width: 100%;
        }
    }
    &__title {
        line-height: 1.1;
        text-align: center;
        @include tablet {
            font-size: 28px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            max-width: 100%;
        }
    }
    &__iframe-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        // aspect ratio 16:9
        padding-top: 56.25%;
    }
    &__main-data {
        margin-bottom: 20px;
        width: 100%;
        &_video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
