@import '~@/assets/styles/variables';
@import '~@/assets/styles/mixins';

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image_video-wrap {
        width: 100%;
        @include video-item;
    }
    &__image-wrap.loading::before {
        border-radius: 0;
    }
    &__image {
        width: 100%;
        height: 100vh;
    }
    &__title {
        font-family: $primary-font;
        color: $light-color;
        text-align: center;
        margin: 50px;
        font-size: 45px;
        letter-spacing: 2px;
        @include laptop-large {
            font-size: 35px;
        }
        @include tablet {
            font-size: 30px;
        }
    }
    &__input {
        font-family: $secondary-font;
        color: $light-color;
        border: 1.5px solid $light-color;
        font-size: 20px;
        padding: 2px 5px;
        margin-bottom: 70px;
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background: url(~@/assets/images/calendar.svg);
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: center;
        }
        @include laptop-large {
            font-size: 18px;
        }
    }
    .error-component {
        width: 100%;
        height: 100vh;
        font-size: 45px;
    }
}
