@import '~@/assets/styles/variables';

// screens
@mixin mobile-tiny() {
    @media (max-width: $screen-mobile-tiny) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $screen-tablet) {
        @content;
    }
}

@mixin laptop() {
    @media (max-width: $screen-laptop) {
        @content;
    }
}

@mixin laptop-large() {
    @media (max-width: $screen-laptop-large) {
        @content;
    }
}

@mixin desktop() {
    @media (max-width: $screen-desktop) {
        @content;
    }
}

// another mixins
@mixin video-item {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 19px;
        top: 15px;
        left: 15px;
        background-image: url(~@/assets/images/video-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@mixin aspect-ratio-11-for-images {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin: 0;
    .image-catalog__image {
        &,
        &_video {
            margin: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}

@mixin loading-item {
    position: relative;
    &.loading::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 80%);
        animation: image-load 2s linear infinite;
        border-radius: 5px;
        z-index: 5;
    }
}

@keyframes image-load {
    from {
        background-color: hsl(0, 0%, 60%);
    }
    50% {
        background-color: hsl(0, 0%, 80%);
    }
    to {
        background-color: hsl(0, 0%, 60%);
    }
}
